.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
[Rr]elease/

*.mp3
*.m4a
*.wav
*.m4a
*.txt
*.py

data/audio_input/*
!data/audio_input/
data/video_output/*
!data/video_output/

# Allow demo song
!timekeeper.mp3
